.header {
    color: #BF8E84;
    margin-top: 25px;
    font-size: 50px;
}

/* navbar */
#navbar {
    position: sticky;
    top: 0;
    background-color: #FFEADD;
    opacity: .95;
    z-index: 1;
}

#navHeader {
    color: #947248;
}

#navLinks {
    color: #8C7354;
    width: 90px;
}

#projectNav {
    color: #8C7354;
    width: 90px;
    margin-left: 10px;
}

#nav {
    height: 40px;
}

#linkedIcon {
    margin-left: 760px;
    font-size: 35px;
    margin-top: -18px;
}

#gitIcon {
    font-size: 35px;
    margin-top: -18px;
}

#devIcon {
    font-size: 35px;
    margin-top: -18px;
}

/* home */
#homeContainer {
    height: 100vh;
    width: 1440px;
}

#homeImage {
    height: 100vh;
    width: 1440px;
    position: absolute;
}

#homeElements {
    position: absolute;
    color: white;
    margin-top: 450px;
    margin-left: 85px;
}

#nameBackground {
    background-color: #FFEADD;
    width: 800px;
    height: 200px;
    border-radius: 175px;
    opacity: .80;
    position: absolute;
}

#nameContainer {
    width: 850px;
    padding-left: 70px;
    padding-top: 10px;
}

#homeTitle {
    font-size: 100px;
    font-family: "Snell Roundhand";
    position: absolute;
    font-weight: bold;
}

#homeTitle2 {
    font-size: 40px;
    position: absolute;
    font-weight: bold;
    margin-top: 125px;
    margin-left: 50px;
}

#homeArrow {
    margin-left: 400px;
    margin-top: 200px;
    font-size: 30px;
}


/* projects */
#projectsContainer {
    height: 225vh;
    width: 1440px;
    position: relative;
}
#projectTitle {
    margin-top: 35px;
    margin-left: 650px;
}

#projects {
    margin-left: 50px;
}

#proj1Back {
    height: 475px;
    width: 1340px;
    background-color: #BF8E84;
    margin-top: 30px;
    border-radius: 8px;
    opacity: .25;
}

#proj2Back {
    height: 475px;
    width: 1340px;
    background-color: #BF8E84;
    margin-top: 30px;
    border-radius: 8px;
    opacity: .50;
}

#proj3Back {
    height: 475px;
    width: 1340px;
    background-color: #BF8E84;
    margin-top: 30px;
    border-radius: 8px;
    opacity: .75;
}

#proj1 {
    height: 475px;
    width: 1340px;
    position: absolute;
    margin-top: -474px;
}

#proj2 {
    height: 475px;
    width: 1340px;
    position: absolute;
    margin-top: -474px;
}

#proj3 {
    height: 475px;
    width: 1340px;
    position: absolute;
    margin-top: -474px;
}

.carousel {
    height: 425px;
    width: 775px;
    position: absolute;
    margin-top: 25px;
    margin-left: 25px;
}

#carPhoto {
    height: 425px;
    width: 750px;
    border-radius: 8px;
}

.constructionPhoto {
    height: 425px;
    width: 750px;
    position: absolute;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 8px;
}

.projHeader {
    position: absolute;
    margin-top: -425px;
    margin-left: 825px;
    color: #401F19;
}

#projHeaderCon {
    position: absolute;
    margin-top: 20px;
    margin-left: 825px;
    color: #401F19;
}

.projDescription {
    position: absolute;
    margin-top: -375px;
    margin-left: 825px;
    color: #401F19;
}

#projDescriptionCon {
    position: absolute;
    margin-top: 70px;
    margin-left: 825px;
    color: #401F19;
}

.projLang {
    position: absolute;
    margin-top: -125px;
    margin-left: 825px;
    color: #401F19;
}

#projLangCon {
    position: absolute;
    margin-top: 350px;
    margin-left: 825px;
    color: #401F19;
}

.projLinks {
    position: absolute;
    margin-top: -35px;
    margin-left: 825px;
    color: #401F19;
    font-size: 20px;
    text-decoration: underline;
}

.projLinks:hover {
    color: #386D73;
    cursor: pointer;
}

.gitLinks {
    position: absolute;
    margin-top: -35px;
    margin-left: 930px;
    color: #401F19;
    font-size: 20px;
    text-decoration: underline;
}

.gitLinks:hover {
    color: #386D73;
    cursor: pointer;
}

#proj2Git {
    margin-left: 825px;
    position: absolute;
    margin-top: 420px;
    margin-left: 825px;
}

#proj2Git2 {
    margin-left: 1035px;
    position: absolute;
    margin-top: 420px;
}

#comingSoon{
    text-decoration: none;
    position: absolute;
    margin-top: 420px;
    margin-left: 825px;
    color: #401F19;
}

#comingSoon:hover {
    cursor: default;
    color: #401F19;
}

/* about me */
#aboutMeContainer {
    height: 100vh;
    width: 1440px;
}

#aboutBackground {
    height: 100vh;
    width: 1440px;
    background-color: #92A4A6;
    position: absolute;
}

#aboutTitle {
    position: absolute;
    margin-left: 600px;
    margin-top: 125px;
    color: #465759;
    font-size: 50px;
}

#aboutInfoBack {
    background-color: #465759;
    position: absolute;
    height: 400px;
    width: 900px;
    margin-top: 250px;
    margin-left: 265px;
    border-radius: 8px;
    opacity: .5;
}

#aboutDesc {
    position: absolute;
    margin-left: 300px;
    margin-top: 275px;
    color: #E1E9ED;
}

/* contact */
#contactContainer {
    height: 100vh;
    width: 1440px;
}

#contactImage {
    height: 100vh;
    width: 1440px;
    position: absolute;
}

#contactBackground {
    position: absolute;
    background-color: #BF8B4B;
    height: 150px;
    width: 775px;
    margin-top: 315px;
    margin-left: 325px;
    border-radius: 8px;
    opacity: .90;
}

#contactPrompt {
    position: absolute;
    margin-left: 375px;
    margin-top: 335px;
    color: #E6E6E6;
    
}

#contactHeader {
    float: left;
    font-size: 50px;
    margin-right: 35px;
    margin-top: 10px;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 125px;
}

#contactEmail {
    float: left;
    color: #A65005;
    font-size: 50px;
    font-weight: bold;
    padding-top: 15px;
    text-decoration: underline;
}

#contactEmail:hover {
    color: #004A59;
    cursor: pointer;
}
