#homeImage {
    height: 720px;
    width: 1440px;
    position: absolute;
}

#homeElements {
    position: absolute;
    color: #FFF9F7;
    margin-top: 400px;
    margin-left: 100px;
}

#homeTitle {
    font-size: 120px;
    font-family: "Snell Roundhand";
}

#homeArrow {
    margin-left: 325px;
    margin-top: -70px;
    font-size: 30px;
}