.header {
    margin-top: 25px;
    font-size: 50px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.fade-in-image { animation: fadeIn 2s; }

/* navbar */
#navbar {
    position: sticky;
    background-color: #F2E7DC;
    top: 0px;
    opacity: .95;
    z-index: 1;
}

#navHeader {
    color: #8C715A;
}

#navHeader:hover {
    color: #695443;
}

#navLinks {
    color: #8C715A;
    width: 90px;
}

#navLinks:hover {
    color: #695443;
}

#projectNav {
    color: #8C715A;
    width: 90px;
    margin-left: 10px;
}

#projectNav:hover {
    color: #695443;
}

#nav {
    height: 40px;
}

#linkedIcon {
    margin-left: 760px;
    font-size: 35px;
    margin-top: -18px;
}

#gitIcon {
    font-size: 35px;
    margin-top: -18px;
}

#devIcon {
    font-size: 35px;
    margin-top: -18px;
}

/* home */
#homeContainer {
    height: 678px;
    width: 100%;
}

#homeImage {
    height: 734px;
    width: 100%;
    position: absolute;
}

#titleCont {
    position: absolute;
    font-family: "menlo";
    text-align: center;
    margin-left: 150px;
    margin-top: 275px;
    color: #A68A72;
}

#title {
    font-size: 50px;
}

/* projects */
#projectsContainer {
    height: 360vh;
    width: 100%;
    position: relative;
}

#projectTitle {
    margin-top: 75px;
    margin-left: 375px;
    font-family: "menlo";
    color: #695443;
}

#projects {
    margin-left: 50px;
}

#proj1Back {
    height: 475px;
    width: 1340px;
    background-color: #F2A35E;
    margin-top: 30px;
    border-radius: 8px;
    opacity: .1;
}

#proj2Back {
    height: 475px;
    width: 1340px;
    background-color: #F2A35E;
    margin-top: 30px;
    border-radius: 8px;
    opacity: .20;
}

#proj3Back {
    height: 475px;
    width: 1340px;
    background-color: #F2A35E;
    margin-top: 30px;
    border-radius: 8px;
    opacity: .3;
}

#proj4Back {
    height: 475px;
    width: 1340px;
    background-color: #F2A35E;
    margin-top: 30px;
    border-radius: 8px;
    opacity: .4;
}

#proj5Back {
    height: 475px;
    width: 1340px;
    background-color: #F2A35E;
    margin-top: 30px;
    border-radius: 8px;
    opacity: .5;
}

#proj1 {
    height: 475px;
    width: 1300px;
    position: absolute;
    margin-top: -474px;
}

#proj2 {
    height: 475px;
    width: 1300px;
    position: absolute;
    margin-top: -474px;
}

#proj3 {
    height: 475px;
    width: 1300px;
    position: absolute;
    margin-top: -474px;
}

#proj4 {
    height: 475px;
    width: 1300px;
    position: absolute;
    margin-top: -474px;
}

#proj5 {
    height: 475px;
    width: 1300px;
    position: absolute;
    margin-top: -474px;
}

.carousel {
    height: 425px;
    width: 775px;
    position: absolute;
    margin-top: 25px;
    margin-left: 25px;
}

#carPhoto {
    height: 425px;
    width: 775px;
    border-radius: 8px;
}

.constructionPhoto {
    height: 425px;
    width: 775px;
    position: absolute;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 8px;
}

.projHeader {
    position: absolute;
    margin-top: -425px;
    margin-left: 825px;
    color: #695443;
}

#projHeaderCon {
    position: absolute;
    margin-top: 20px;
    margin-left: 825px;
    color: #695443;
}

.projDescription {
    position: absolute;
    margin-top: -375px;
    margin-left: 825px;
    color: #695443;
}

#projDescriptionCon {
    position: absolute;
    margin-top: 70px;
    margin-left: 825px;
    color: #695443;
}

.projLang {
    position: absolute;
    margin-top: -110px;
    margin-left: 825px;
    color: #695443;
}

#projLang2 {
    position: absolute;
    margin-top: 340px;
    margin-left: 830px;
    color: #695443;
}

#projLangCon {
    position: absolute;
    margin-top: 310px;
    margin-left: 825px;
    color: #695443;
}

.projLinks {
    position: absolute;
    margin-top: -35px;
    margin-left: 825px;
    font-size: 20px;
    text-decoration: underline;
    color: #695443;
}

.projLinks:hover {
    color: #386D73;
    cursor: pointer;
}

.gitLinks {
    position: absolute;
    margin-top: -35px;
    margin-left: 915px;
    font-size: 20px;
    text-decoration: underline;
    color: #695443;
}

.gitLinks:hover {
    color: #386D73;
    cursor: pointer;
}

#proj2Git {
    margin-left: 825px;
    position: absolute;
    margin-top: 420px;
    margin-left: 825px;
    color: #695443;
}

#proj2Git:hover {
    color: #386D73;
    cursor: pointer;
}

#proj2Git2 {
    margin-left: 1015px;
    position: absolute;
    margin-top: 420px;
    color: #695443;
}

#proj2Git2:hover {
    color: #386D73;
    cursor: pointer;
}

/* about me */
#aboutMeContainer {
    height: 100vh;
    width: 100%;
    font-family: "menlo";
}

#aboutBackground {
    height: 100vh;
    width: 1440px;
    position: absolute;
}

#aboutTitle {
    position: absolute;
    margin-left: 600px;
    margin-top: 85px;
    color: #695443;
    font-size: 50px;
}

#aboutInfoBack {
    background-color: #F2E7DC;
    opacity: .20;
    position: absolute;
    height: 475px;
    width: 1200px;
    margin-top: 185px;
    margin-left: 120px;
    border-radius: 8px;
}

#aboutTextCont {
    position: absolute;
    height: 400px;
    width: 1125px;
    margin-top: 225px;
    margin-left: 160px;
}

#aboutDescIntro {
    position: absolute;
    color: #695443;
}

#aboutDesc {
    position: absolute;
    margin-top: 60px;
    color: #695443;
}

#aboutDesc2 {
    position: absolute;
    margin-top: 260px;
    color: #695443;
}

/* contact */
#contactContainer {
    height: 100vh;
    width: 1440px;
}

#contactImage {
    height: 100vh;
    width: 1440px;
    position: absolute;
}

#contactBackground {
    position: absolute;
    background-color: #BF8B4B;
    height: 150px;
    width: 775px;
    margin-top: 315px;
    margin-left: 325px;
    border-radius: 8px;
    opacity: .90;
}

#contactPrompt {
    position: absolute;
    margin-left: 375px;
    margin-top: 335px;
    color: white;
    
}

#contactHeader {
    float: left;
    font-size: 50px;
    margin-right: 35px;
    margin-top: 10px;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 125px;
}

#contactEmail {
    float: left;
    color: #A65005;
    font-size: 50px;
    font-weight: bold;
    padding-top: 15px;
    text-decoration: underline;
}

#contactEmail:hover {
    color: #004A59;
    cursor: pointer;
}


/* personal projects */
#personalProjCont {
    height: 175vh;
    background-color: #FCF9F5;
    padding-top: 25px;
    text-align: center;
}

#personalProjTitle {
    font-family: "menlo";
    color: #695443;
}

.carouselPers {
    height: 425px;
    width: 775px;
    position: absolute;
    margin-top: 35px;
    margin-left: 340px;
    z-index: 0;
}

#persProj1Cont {
    height: 100px;
    width: 775px;
    margin-left: 340px;
    border-bottom: 2px solid #695443;
    border-left: 2px solid #695443;
    border-right: 2px solid #695443;
    margin-top: -7px;
    background-color: white;
    border-radius: 8px;
}

#carPhotoPers {
    height: 425px;
    width: 775px;
}

#persDesc {
    position: absolute;
    margin-top: -77px;
    margin-left: 350px;
    color: #695443;
}

#persLang {
    position: absolute;
    margin-top: -42px;
    margin-left: 350px;
    float: left;
    color: #695443;
}

#persGit {
    position: absolute;
    margin-top: -42px;
    margin-left: 1025px;
    text-decoration: underline;
    color: #695443;
}

#persGit:hover {
    color: #386D73;
    cursor: pointer;
}

#persProj2 {
    margin-top: 50px;
}